$background_white: #fff;
$title_cyan_6: #13c2c2;
$background_cyan_1: #e6fffb;
$border_grey: #f0f0f0;
$border_grey2: #bfbfbf;
$background_grey_4: #f0f0f0;
$cyan_1: #e6fffb;
$cyan_2: #b5f5ec;
$cyan_3: #87e8de;
$cyan_4: #5cdbd3;
$cyan_5: #36cfc9;
$cyan_6: #13c2c2;
$cyan_7: #08979c;
$cyan_8: #006d75;
$cyan_9: #00474f;
$cyan_10: #002329;
$green_1: #f6ffed;
$green_2: #d9f7be;
$green_3: #b7eb8f;
$green_4: #95de64;
$green_5: #73d13d;
$green_6: #52c41a;
$green_7: #389e0d;
$green_8: #237804;
$green_9: #135200;
$green_10: #092b00;
$blue_1: #e6f7ff;
$blue_2: #bae7ff;
$blue_3: #91d5ff;
$blue_4: #69c0ff;
$blue_5: #40a9ff;
$blue_6: #1890ff;
$blue_7: #096dd9;
$blue_8: #0050b3;
$blue_9: #003a8c;
$blue_10: #002766;

.icon-category {
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.content-product {
    width: 100%;

    .d-flex-between {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.main-content {
    position: relative;
    background-color: $background_white;
    padding: 0px 0px 0px 0px;
    height: 100vh;

    .sale-manager-header {
        margin: 0px 10px;
        display: flex;
        align-items: center;
        height: 60px;

        .logo {
            margin: 0px 10px;
        }

        .input-search {
            border-radius: 20px;   
            width: 270px;
            margin-right: 10px;
        }
    }

    .content-order {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        padding-right: 2px;
        gap: 10px;
        height: 300px;
        overflow: auto;
    }


    .left-content {
        // padding-: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
   
    .right-content {
        border-radius: 5px;
        border: 1px solid $border_grey2;
        height: calc(100vh - 100px);
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.menu-header__item {
    font-size: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #006d75;
}

.main-content-list-item__footer {
        position: relative;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $border_grey2;
        height: 200px;
        overflow: auto;

    
    .product-item__wrapper {
        cursor: pointer;
        display: flex;
        flex-direction: column;

        img {
            border-radius: 10px;
            transition: all 200ms;

            &:hover {
                box-shadow: 0 3px 12px 0 rgba(0,0,0,0.12);
            }
        }

        .stock-product-money__label {
            font-weight: bold;
            font-size: 12px;
            padding: 2px 10px;
            position: absolute;
            top: 80px;
            left: -10px;
            background-color: #fff;
            color: $green_7;
        }
    }
}

.title {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: $title_cyan_6;
}

.icon-delete {
    cursor: pointer;
    transition: all 200ms;

    &:hover {
        color: $cyan_8;
    }

}

.wrap-product-buy {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $border_grey2;
    min-height: 80px;
    gap: 10px;
}

.menu-list-product {
    max-height: 300px;
    width: 420px;
    overflow: auto;
}

.d-flex-space {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    justify-content: space-between;
}

.group__box {
    border: 1px solid #00c8f8;
    padding: 10px;
}

.info__row {
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content__tabs {
    
}