.Layout__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 50px;
    background-color: #36cfc9;
    color: #fff;
    position: sticky;
    z-index: 2;
    top: 0;
}

.disabled {
    opacity: 0.5;
    background-color: grey;
}

.Layout__content {
    padding: 10px 20px;
    background: #fff;
}

.general__information {
    border-radius: 3px;
    background-color: #ccffff;
    border: 1px solid #c4cccc;
    padding: 20px 10px;
}

.wrap__options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .options__button {
        background-color: #007f7f;
        border-color: #007f7f;
        color: #fff;
        font-weight: 600;
    }
}

.row-even {
    background-color: #e5ffff;

    &:hover {
        background: #e5ffff;
    }
}