@font-face {
  font-family: 'icon-fsale';
  src:  url('./fonts/icon-fsale.eot?3zhrbw');
  src:  url('./fonts/icon-fsale.eot?3zhrbw#iefix') format('embedded-opentype'),
    url('./fonts/icon-fsale.ttf?3zhrbw') format('truetype'),
    url('./fonts/icon-fsale.woff?3zhrbw') format('woff'),
    url('./fonts/icon-fsale.svg?3zhrbw#icon-fsale') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-fsale-"], [class*=" icon-fsale-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-fsale' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fsale-box:before {
  content: "\eaec";
}
.icon-fsale-home:before {
  content: "\e900";
}
.icon-fsale-home2:before {
  content: "\e901";
}
.icon-fsale-home3:before {
  content: "\e902";
}
.icon-fsale-office:before {
  content: "\e903";
}
.icon-fsale-newspaper:before {
  content: "\e904";
}
.icon-fsale-pencil:before {
  content: "\e905";
}
.icon-fsale-pencil2:before {
  content: "\e906";
}
.icon-fsale-quill:before {
  content: "\e907";
}
.icon-fsale-pen:before {
  content: "\e908";
}
.icon-fsale-blog:before {
  content: "\e909";
}
.icon-fsale-eyedropper:before {
  content: "\e90a";
}
.icon-fsale-droplet:before {
  content: "\e90b";
}
.icon-fsale-paint-format:before {
  content: "\e90c";
}
.icon-fsale-image:before {
  content: "\e90d";
}
.icon-fsale-images:before {
  content: "\e90e";
}
.icon-fsale-camera:before {
  content: "\e90f";
}
.icon-fsale-headphones:before {
  content: "\e910";
}
.icon-fsale-music:before {
  content: "\e911";
}
.icon-fsale-play:before {
  content: "\e912";
}
.icon-fsale-film:before {
  content: "\e913";
}
.icon-fsale-video-camera:before {
  content: "\e914";
}
.icon-fsale-dice:before {
  content: "\e915";
}
.icon-fsale-pacman:before {
  content: "\e916";
}
.icon-fsale-spades:before {
  content: "\e917";
}
.icon-fsale-clubs:before {
  content: "\e918";
}
.icon-fsale-diamonds:before {
  content: "\e919";
}
.icon-fsale-bullhorn:before {
  content: "\e91a";
}
.icon-fsale-connection:before {
  content: "\e91b";
}
.icon-fsale-podcast:before {
  content: "\e91c";
}
.icon-fsale-feed:before {
  content: "\e91d";
}
.icon-fsale-mic:before {
  content: "\e91e";
}
.icon-fsale-book:before {
  content: "\e91f";
}
.icon-fsale-books:before {
  content: "\e920";
}
.icon-fsale-library:before {
  content: "\e921";
}
.icon-fsale-file-text:before {
  content: "\e922";
}
.icon-fsale-profile:before {
  content: "\e923";
}
.icon-fsale-file-empty:before {
  content: "\e924";
}
.icon-fsale-files-empty:before {
  content: "\e925";
}
.icon-fsale-file-text2:before {
  content: "\e926";
}
.icon-fsale-file-picture:before {
  content: "\e927";
}
.icon-fsale-file-music:before {
  content: "\e928";
}
.icon-fsale-file-play:before {
  content: "\e929";
}
.icon-fsale-file-video:before {
  content: "\e92a";
}
.icon-fsale-file-zip:before {
  content: "\e92b";
}
.icon-fsale-copy:before {
  content: "\e92c";
}
.icon-fsale-paste:before {
  content: "\e92d";
}
.icon-fsale-stack:before {
  content: "\e92e";
}
.icon-fsale-folder:before {
  content: "\e92f";
}
.icon-fsale-folder-open:before {
  content: "\e930";
}
.icon-fsale-folder-plus:before {
  content: "\e931";
}
.icon-fsale-folder-minus:before {
  content: "\e932";
}
.icon-fsale-folder-download:before {
  content: "\e933";
}
.icon-fsale-folder-upload:before {
  content: "\e934";
}
.icon-fsale-price-tag:before {
  content: "\e935";
}
.icon-fsale-price-tags:before {
  content: "\e936";
}
.icon-fsale-barcode:before {
  content: "\e937";
}
.icon-fsale-qrcode:before {
  content: "\e938";
}
.icon-fsale-ticket:before {
  content: "\e939";
}
.icon-fsale-cart:before {
  content: "\e93a";
}
.icon-fsale-coin-dollar:before {
  content: "\e93b";
}
.icon-fsale-coin-euro:before {
  content: "\e93c";
}
.icon-fsale-coin-pound:before {
  content: "\e93d";
}
.icon-fsale-coin-yen:before {
  content: "\e93e";
}
.icon-fsale-credit-card:before {
  content: "\e93f";
}
.icon-fsale-calculator:before {
  content: "\e940";
}
.icon-fsale-lifebuoy:before {
  content: "\e941";
}
.icon-fsale-phone:before {
  content: "\e942";
}
.icon-fsale-phone-hang-up:before {
  content: "\e943";
}
.icon-fsale-address-book:before {
  content: "\e944";
}
.icon-fsale-envelop:before {
  content: "\e945";
}
.icon-fsale-pushpin:before {
  content: "\e946";
}
.icon-fsale-location:before {
  content: "\e947";
}
.icon-fsale-location2:before {
  content: "\e948";
}
.icon-fsale-compass:before {
  content: "\e949";
}
.icon-fsale-compass2:before {
  content: "\e94a";
}
.icon-fsale-map:before {
  content: "\e94b";
}
.icon-fsale-map2:before {
  content: "\e94c";
}
.icon-fsale-history:before {
  content: "\e94d";
}
.icon-fsale-clock:before {
  content: "\e94e";
}
.icon-fsale-clock2:before {
  content: "\e94f";
}
.icon-fsale-alarm:before {
  content: "\e950";
}
.icon-fsale-bell:before {
  content: "\e951";
}
.icon-fsale-stopwatch:before {
  content: "\e952";
}
.icon-fsale-calendar:before {
  content: "\e953";
}
.icon-fsale-printer:before {
  content: "\e954";
}
.icon-fsale-keyboard:before {
  content: "\e955";
}
.icon-fsale-display:before {
  content: "\e956";
}
.icon-fsale-laptop:before {
  content: "\e957";
}
.icon-fsale-mobile:before {
  content: "\e958";
}
.icon-fsale-mobile2:before {
  content: "\e959";
}
.icon-fsale-tablet:before {
  content: "\e95a";
}
.icon-fsale-tv:before {
  content: "\e95b";
}
.icon-fsale-drawer:before {
  content: "\e95c";
}
.icon-fsale-drawer2:before {
  content: "\e95d";
}
.icon-fsale-box-add:before {
  content: "\e95e";
}
.icon-fsale-box-remove:before {
  content: "\e95f";
}
.icon-fsale-download:before {
  content: "\e960";
}
.icon-fsale-upload:before {
  content: "\e961";
}
.icon-fsale-floppy-disk:before {
  content: "\e962";
}
.icon-fsale-drive:before {
  content: "\e963";
}
.icon-fsale-database:before {
  content: "\e964";
}
.icon-fsale-undo:before {
  content: "\e965";
}
.icon-fsale-redo:before {
  content: "\e966";
}
.icon-fsale-undo2:before {
  content: "\e967";
}
.icon-fsale-redo2:before {
  content: "\e968";
}
.icon-fsale-forward:before {
  content: "\e969";
}
.icon-fsale-reply:before {
  content: "\e96a";
}
.icon-fsale-bubble:before {
  content: "\e96b";
}
.icon-fsale-bubbles:before {
  content: "\e96c";
}
.icon-fsale-bubbles2:before {
  content: "\e96d";
}
.icon-fsale-bubble2:before {
  content: "\e96e";
}
.icon-fsale-bubbles3:before {
  content: "\e96f";
}
.icon-fsale-bubbles4:before {
  content: "\e970";
}
.icon-fsale-user:before {
  content: "\e971";
}
.icon-fsale-users:before {
  content: "\e972";
}
.icon-fsale-user-plus:before {
  content: "\e973";
}
.icon-fsale-user-minus:before {
  content: "\e974";
}
.icon-fsale-user-check:before {
  content: "\e975";
}
.icon-fsale-user-tie:before {
  content: "\e976";
}
.icon-fsale-quotes-left:before {
  content: "\e977";
}
.icon-fsale-quotes-right:before {
  content: "\e978";
}
.icon-fsale-hour-glass:before {
  content: "\e979";
}
.icon-fsale-spinner:before {
  content: "\e97a";
}
.icon-fsale-spinner2:before {
  content: "\e97b";
}
.icon-fsale-spinner3:before {
  content: "\e97c";
}
.icon-fsale-spinner4:before {
  content: "\e97d";
}
.icon-fsale-spinner5:before {
  content: "\e97e";
}
.icon-fsale-spinner6:before {
  content: "\e97f";
}
.icon-fsale-spinner7:before {
  content: "\e980";
}
.icon-fsale-spinner8:before {
  content: "\e981";
}
.icon-fsale-spinner9:before {
  content: "\e982";
}
.icon-fsale-spinner10:before {
  content: "\e983";
}
.icon-fsale-spinner11:before {
  content: "\e984";
}
.icon-fsale-binoculars:before {
  content: "\e985";
}
.icon-fsale-search:before {
  content: "\e986";
}
.icon-fsale-zoom-in:before {
  content: "\e987";
}
.icon-fsale-zoom-out:before {
  content: "\e988";
}
.icon-fsale-enlarge:before {
  content: "\e989";
}
.icon-fsale-shrink:before {
  content: "\e98a";
}
.icon-fsale-enlarge2:before {
  content: "\e98b";
}
.icon-fsale-shrink2:before {
  content: "\e98c";
}
.icon-fsale-key:before {
  content: "\e98d";
}
.icon-fsale-key2:before {
  content: "\e98e";
}
.icon-fsale-lock:before {
  content: "\e98f";
}
.icon-fsale-unlocked:before {
  content: "\e990";
}
.icon-fsale-wrench:before {
  content: "\e991";
}
.icon-fsale-equalizer:before {
  content: "\e992";
}
.icon-fsale-equalizer2:before {
  content: "\e993";
}
.icon-fsale-cog:before {
  content: "\e994";
}
.icon-fsale-cogs:before {
  content: "\e995";
}
.icon-fsale-hammer:before {
  content: "\e996";
}
.icon-fsale-magic-wand:before {
  content: "\e997";
}
.icon-fsale-aid-kit:before {
  content: "\e998";
}
.icon-fsale-bug:before {
  content: "\e999";
}
.icon-fsale-pie-chart:before {
  content: "\e99a";
}
.icon-fsale-stats-dots:before {
  content: "\e99b";
}
.icon-fsale-stats-bars:before {
  content: "\e99c";
}
.icon-fsale-stats-bars2:before {
  content: "\e99d";
}
.icon-fsale-trophy:before {
  content: "\e99e";
}
.icon-fsale-gift:before {
  content: "\e99f";
}
.icon-fsale-glass:before {
  content: "\e9a0";
}
.icon-fsale-glass2:before {
  content: "\e9a1";
}
.icon-fsale-mug:before {
  content: "\e9a2";
}
.icon-fsale-spoon-knife:before {
  content: "\e9a3";
}
.icon-fsale-leaf:before {
  content: "\e9a4";
}
.icon-fsale-rocket:before {
  content: "\e9a5";
}
.icon-fsale-meter:before {
  content: "\e9a6";
}
.icon-fsale-meter2:before {
  content: "\e9a7";
}
.icon-fsale-hammer2:before {
  content: "\e9a8";
}
.icon-fsale-fire:before {
  content: "\e9a9";
}
.icon-fsale-lab:before {
  content: "\e9aa";
}
.icon-fsale-magnet:before {
  content: "\e9ab";
}
.icon-fsale-bin:before {
  content: "\e9ac";
}
.icon-fsale-bin2:before {
  content: "\e9ad";
}
.icon-fsale-briefcase:before {
  content: "\e9ae";
}
.icon-fsale-airplane:before {
  content: "\e9af";
}
.icon-fsale-truck:before {
  content: "\e9b0";
}
.icon-fsale-road:before {
  content: "\e9b1";
}
.icon-fsale-accessibility:before {
  content: "\e9b2";
}
.icon-fsale-target:before {
  content: "\e9b3";
}
.icon-fsale-shield:before {
  content: "\e9b4";
}
.icon-fsale-power:before {
  content: "\e9b5";
}
.icon-fsale-switch:before {
  content: "\e9b6";
}
.icon-fsale-power-cord:before {
  content: "\e9b7";
}
.icon-fsale-clipboard:before {
  content: "\e9b8";
}
.icon-fsale-list-numbered:before {
  content: "\e9b9";
}
.icon-fsale-list:before {
  content: "\e9ba";
}
.icon-fsale-list2:before {
  content: "\e9bb";
}
.icon-fsale-tree:before {
  content: "\e9bc";
}
.icon-fsale-menu:before {
  content: "\e9bd";
}
.icon-fsale-menu2:before {
  content: "\e9be";
}
.icon-fsale-menu3:before {
  content: "\e9bf";
}
.icon-fsale-menu4:before {
  content: "\e9c0";
}
.icon-fsale-cloud:before {
  content: "\e9c1";
}
.icon-fsale-cloud-download:before {
  content: "\e9c2";
}
.icon-fsale-cloud-upload:before {
  content: "\e9c3";
}
.icon-fsale-cloud-check:before {
  content: "\e9c4";
}
.icon-fsale-download2:before {
  content: "\e9c5";
}
.icon-fsale-upload2:before {
  content: "\e9c6";
}
.icon-fsale-download3:before {
  content: "\e9c7";
}
.icon-fsale-upload3:before {
  content: "\e9c8";
}
.icon-fsale-sphere:before {
  content: "\e9c9";
}
.icon-fsale-earth:before {
  content: "\e9ca";
}
.icon-fsale-link:before {
  content: "\e9cb";
}
.icon-fsale-flag:before {
  content: "\e9cc";
}
.icon-fsale-attachment:before {
  content: "\e9cd";
}
.icon-fsale-eye:before {
  content: "\e9ce";
}
.icon-fsale-eye-plus:before {
  content: "\e9cf";
}
.icon-fsale-eye-minus:before {
  content: "\e9d0";
}
.icon-fsale-eye-blocked:before {
  content: "\e9d1";
}
.icon-fsale-bookmark:before {
  content: "\e9d2";
}
.icon-fsale-bookmarks:before {
  content: "\e9d3";
}
.icon-fsale-sun:before {
  content: "\e9d4";
}
.icon-fsale-contrast:before {
  content: "\e9d5";
}
.icon-fsale-brightness-contrast:before {
  content: "\e9d6";
}
.icon-fsale-star-empty:before {
  content: "\e9d7";
}
.icon-fsale-star-half:before {
  content: "\e9d8";
}
.icon-fsale-star-full:before {
  content: "\e9d9";
}
.icon-fsale-heart:before {
  content: "\e9da";
}
.icon-fsale-heart-broken:before {
  content: "\e9db";
}
.icon-fsale-man:before {
  content: "\e9dc";
}
.icon-fsale-woman:before {
  content: "\e9dd";
}
.icon-fsale-man-woman:before {
  content: "\e9de";
}
.icon-fsale-happy:before {
  content: "\e9df";
}
.icon-fsale-happy2:before {
  content: "\e9e0";
}
.icon-fsale-smile:before {
  content: "\e9e1";
}
.icon-fsale-smile2:before {
  content: "\e9e2";
}
.icon-fsale-tongue:before {
  content: "\e9e3";
}
.icon-fsale-tongue2:before {
  content: "\e9e4";
}
.icon-fsale-sad:before {
  content: "\e9e5";
}
.icon-fsale-sad2:before {
  content: "\e9e6";
}
.icon-fsale-wink:before {
  content: "\e9e7";
}
.icon-fsale-wink2:before {
  content: "\e9e8";
}
.icon-fsale-grin:before {
  content: "\e9e9";
}
.icon-fsale-grin2:before {
  content: "\e9ea";
}
.icon-fsale-cool:before {
  content: "\e9eb";
}
.icon-fsale-cool2:before {
  content: "\e9ec";
}
.icon-fsale-angry:before {
  content: "\e9ed";
}
.icon-fsale-angry2:before {
  content: "\e9ee";
}
.icon-fsale-evil:before {
  content: "\e9ef";
}
.icon-fsale-evil2:before {
  content: "\e9f0";
}
.icon-fsale-shocked:before {
  content: "\e9f1";
}
.icon-fsale-shocked2:before {
  content: "\e9f2";
}
.icon-fsale-baffled:before {
  content: "\e9f3";
}
.icon-fsale-baffled2:before {
  content: "\e9f4";
}
.icon-fsale-confused:before {
  content: "\e9f5";
}
.icon-fsale-confused2:before {
  content: "\e9f6";
}
.icon-fsale-neutral:before {
  content: "\e9f7";
}
.icon-fsale-neutral2:before {
  content: "\e9f8";
}
.icon-fsale-hipster:before {
  content: "\e9f9";
}
.icon-fsale-hipster2:before {
  content: "\e9fa";
}
.icon-fsale-wondering:before {
  content: "\e9fb";
}
.icon-fsale-wondering2:before {
  content: "\e9fc";
}
.icon-fsale-sleepy:before {
  content: "\e9fd";
}
.icon-fsale-sleepy2:before {
  content: "\e9fe";
}
.icon-fsale-frustrated:before {
  content: "\e9ff";
}
.icon-fsale-frustrated2:before {
  content: "\ea00";
}
.icon-fsale-crying:before {
  content: "\ea01";
}
.icon-fsale-crying2:before {
  content: "\ea02";
}
.icon-fsale-point-up:before {
  content: "\ea03";
}
.icon-fsale-point-right:before {
  content: "\ea04";
}
.icon-fsale-point-down:before {
  content: "\ea05";
}
.icon-fsale-point-left:before {
  content: "\ea06";
}
.icon-fsale-warning:before {
  content: "\ea07";
}
.icon-fsale-notification:before {
  content: "\ea08";
}
.icon-fsale-question:before {
  content: "\ea09";
}
.icon-fsale-plus:before {
  content: "\ea0a";
}
.icon-fsale-minus:before {
  content: "\ea0b";
}
.icon-fsale-info:before {
  content: "\ea0c";
}
.icon-fsale-cancel-circle:before {
  content: "\ea0d";
}
.icon-fsale-blocked:before {
  content: "\ea0e";
}
.icon-fsale-cross:before {
  content: "\ea0f";
}
.icon-fsale-checkmark:before {
  content: "\ea10";
}
.icon-fsale-checkmark2:before {
  content: "\ea11";
}
.icon-fsale-spell-check:before {
  content: "\ea12";
}
.icon-fsale-enter:before {
  content: "\ea13";
}
.icon-fsale-exit:before {
  content: "\ea14";
}
.icon-fsale-play2:before {
  content: "\ea15";
}
.icon-fsale-pause:before {
  content: "\ea16";
}
.icon-fsale-stop:before {
  content: "\ea17";
}
.icon-fsale-previous:before {
  content: "\ea18";
}
.icon-fsale-next:before {
  content: "\ea19";
}
.icon-fsale-backward:before {
  content: "\ea1a";
}
.icon-fsale-forward2:before {
  content: "\ea1b";
}
.icon-fsale-play3:before {
  content: "\ea1c";
}
.icon-fsale-pause2:before {
  content: "\ea1d";
}
.icon-fsale-stop2:before {
  content: "\ea1e";
}
.icon-fsale-backward2:before {
  content: "\ea1f";
}
.icon-fsale-forward3:before {
  content: "\ea20";
}
.icon-fsale-first:before {
  content: "\ea21";
}
.icon-fsale-last:before {
  content: "\ea22";
}
.icon-fsale-previous2:before {
  content: "\ea23";
}
.icon-fsale-next2:before {
  content: "\ea24";
}
.icon-fsale-eject:before {
  content: "\ea25";
}
.icon-fsale-volume-high:before {
  content: "\ea26";
}
.icon-fsale-volume-medium:before {
  content: "\ea27";
}
.icon-fsale-volume-low:before {
  content: "\ea28";
}
.icon-fsale-volume-mute:before {
  content: "\ea29";
}
.icon-fsale-volume-mute2:before {
  content: "\ea2a";
}
.icon-fsale-volume-increase:before {
  content: "\ea2b";
}
.icon-fsale-volume-decrease:before {
  content: "\ea2c";
}
.icon-fsale-loop:before {
  content: "\ea2d";
}
.icon-fsale-loop2:before {
  content: "\ea2e";
}
.icon-fsale-infinite:before {
  content: "\ea2f";
}
.icon-fsale-shuffle:before {
  content: "\ea30";
}
.icon-fsale-arrow-up-left:before {
  content: "\ea31";
}
.icon-fsale-arrow-up:before {
  content: "\ea32";
}
.icon-fsale-arrow-up-right:before {
  content: "\ea33";
}
.icon-fsale-arrow-right:before {
  content: "\ea34";
}
.icon-fsale-arrow-down-right:before {
  content: "\ea35";
}
.icon-fsale-arrow-down:before {
  content: "\ea36";
}
.icon-fsale-arrow-down-left:before {
  content: "\ea37";
}
.icon-fsale-arrow-left:before {
  content: "\ea38";
}
.icon-fsale-arrow-up-left2:before {
  content: "\ea39";
}
.icon-fsale-arrow-up2:before {
  content: "\ea3a";
}
.icon-fsale-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-fsale-arrow-right2:before {
  content: "\ea3c";
}
.icon-fsale-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-fsale-arrow-down2:before {
  content: "\ea3e";
}
.icon-fsale-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-fsale-arrow-left2:before {
  content: "\ea40";
}
.icon-fsale-circle-up:before {
  content: "\ea41";
}
.icon-fsale-circle-right:before {
  content: "\ea42";
}
.icon-fsale-circle-down:before {
  content: "\ea43";
}
.icon-fsale-circle-left:before {
  content: "\ea44";
}
.icon-fsale-tab:before {
  content: "\ea45";
}
.icon-fsale-move-up:before {
  content: "\ea46";
}
.icon-fsale-move-down:before {
  content: "\ea47";
}
.icon-fsale-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-fsale-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-fsale-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-fsale-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon-fsale-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-fsale-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-fsale-command:before {
  content: "\ea4e";
}
.icon-fsale-shift:before {
  content: "\ea4f";
}
.icon-fsale-ctrl:before {
  content: "\ea50";
}
.icon-fsale-opt:before {
  content: "\ea51";
}
.icon-fsale-checkbox-checked:before {
  content: "\ea52";
}
.icon-fsale-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-fsale-radio-checked:before {
  content: "\ea54";
}
.icon-fsale-radio-checked2:before {
  content: "\ea55";
}
.icon-fsale-radio-unchecked:before {
  content: "\ea56";
}
.icon-fsale-crop:before {
  content: "\ea57";
}
.icon-fsale-make-group:before {
  content: "\ea58";
}
.icon-fsale-ungroup:before {
  content: "\ea59";
}
.icon-fsale-scissors:before {
  content: "\ea5a";
}
.icon-fsale-filter:before {
  content: "\ea5b";
}
.icon-fsale-font:before {
  content: "\ea5c";
}
.icon-fsale-ligature:before {
  content: "\ea5d";
}
.icon-fsale-ligature2:before {
  content: "\ea5e";
}
.icon-fsale-text-height:before {
  content: "\ea5f";
}
.icon-fsale-text-width:before {
  content: "\ea60";
}
.icon-fsale-font-size:before {
  content: "\ea61";
}
.icon-fsale-bold:before {
  content: "\ea62";
}
.icon-fsale-underline:before {
  content: "\ea63";
}
.icon-fsale-italic:before {
  content: "\ea64";
}
.icon-fsale-strikethrough:before {
  content: "\ea65";
}
.icon-fsale-omega:before {
  content: "\ea66";
}
.icon-fsale-sigma:before {
  content: "\ea67";
}
.icon-fsale-page-break:before {
  content: "\ea68";
}
.icon-fsale-superscript:before {
  content: "\ea69";
}
.icon-fsale-subscript:before {
  content: "\ea6a";
}
.icon-fsale-superscript2:before {
  content: "\ea6b";
}
.icon-fsale-subscript2:before {
  content: "\ea6c";
}
.icon-fsale-text-color:before {
  content: "\ea6d";
}
.icon-fsale-pagebreak:before {
  content: "\ea6e";
}
.icon-fsale-clear-formatting:before {
  content: "\ea6f";
}
.icon-fsale-table:before {
  content: "\ea70";
}
.icon-fsale-table2:before {
  content: "\ea71";
}
.icon-fsale-insert-template:before {
  content: "\ea72";
}
.icon-fsale-pilcrow:before {
  content: "\ea73";
}
.icon-fsale-ltr:before {
  content: "\ea74";
}
.icon-fsale-rtl:before {
  content: "\ea75";
}
.icon-fsale-section:before {
  content: "\ea76";
}
.icon-fsale-paragraph-left:before {
  content: "\ea77";
}
.icon-fsale-paragraph-center:before {
  content: "\ea78";
}
.icon-fsale-paragraph-right:before {
  content: "\ea79";
}
.icon-fsale-paragraph-justify:before {
  content: "\ea7a";
}
.icon-fsale-indent-increase:before {
  content: "\ea7b";
}
.icon-fsale-indent-decrease:before {
  content: "\ea7c";
}
.icon-fsale-share:before {
  content: "\ea7d";
}
.icon-fsale-new-tab:before {
  content: "\ea7e";
}
.icon-fsale-embed:before {
  content: "\ea7f";
}
.icon-fsale-embed2:before {
  content: "\ea80";
}
.icon-fsale-terminal:before {
  content: "\ea81";
}
.icon-fsale-share2:before {
  content: "\ea82";
}
.icon-fsale-mail:before {
  content: "\ea83";
}
.icon-fsale-mail2:before {
  content: "\ea84";
}
.icon-fsale-mail3:before {
  content: "\ea85";
}
.icon-fsale-mail4:before {
  content: "\ea86";
}
.icon-fsale-amazon:before {
  content: "\ea87";
}
.icon-fsale-google:before {
  content: "\ea88";
}
.icon-fsale-google2:before {
  content: "\ea89";
}
.icon-fsale-google3:before {
  content: "\ea8a";
}
.icon-fsale-google-plus:before {
  content: "\ea8b";
}
.icon-fsale-google-plus2:before {
  content: "\ea8c";
}
.icon-fsale-google-plus3:before {
  content: "\ea8d";
}
.icon-fsale-hangouts:before {
  content: "\ea8e";
}
.icon-fsale-google-drive:before {
  content: "\ea8f";
}
.icon-fsale-facebook:before {
  content: "\ea90";
}
.icon-fsale-facebook2:before {
  content: "\ea91";
}
.icon-fsale-instagram:before {
  content: "\ea92";
}
.icon-fsale-whatsapp:before {
  content: "\ea93";
}
.icon-fsale-spotify:before {
  content: "\ea94";
}
.icon-fsale-telegram:before {
  content: "\ea95";
}
.icon-fsale-twitter:before {
  content: "\ea96";
}
.icon-fsale-vine:before {
  content: "\ea97";
}
.icon-fsale-vk:before {
  content: "\ea98";
}
.icon-fsale-renren:before {
  content: "\ea99";
}
.icon-fsale-sina-weibo:before {
  content: "\ea9a";
}
.icon-fsale-rss:before {
  content: "\ea9b";
}
.icon-fsale-rss2:before {
  content: "\ea9c";
}
.icon-fsale-youtube:before {
  content: "\ea9d";
}
.icon-fsale-youtube2:before {
  content: "\ea9e";
}
.icon-fsale-twitch:before {
  content: "\ea9f";
}
.icon-fsale-vimeo:before {
  content: "\eaa0";
}
.icon-fsale-vimeo2:before {
  content: "\eaa1";
}
.icon-fsale-lanyrd:before {
  content: "\eaa2";
}
.icon-fsale-flickr:before {
  content: "\eaa3";
}
.icon-fsale-flickr2:before {
  content: "\eaa4";
}
.icon-fsale-flickr3:before {
  content: "\eaa5";
}
.icon-fsale-flickr4:before {
  content: "\eaa6";
}
.icon-fsale-dribbble:before {
  content: "\eaa7";
}
.icon-fsale-behance:before {
  content: "\eaa8";
}
.icon-fsale-behance2:before {
  content: "\eaa9";
}
.icon-fsale-deviantart:before {
  content: "\eaaa";
}
.icon-fsale-500px:before {
  content: "\eaab";
}
.icon-fsale-steam:before {
  content: "\eaac";
}
.icon-fsale-steam2:before {
  content: "\eaad";
}
.icon-fsale-dropbox:before {
  content: "\eaae";
}
.icon-fsale-onedrive:before {
  content: "\eaaf";
}
.icon-fsale-github:before {
  content: "\eab0";
}
.icon-fsale-npm:before {
  content: "\eab1";
}
.icon-fsale-basecamp:before {
  content: "\eab2";
}
.icon-fsale-trello:before {
  content: "\eab3";
}
.icon-fsale-wordpress:before {
  content: "\eab4";
}
.icon-fsale-joomla:before {
  content: "\eab5";
}
.icon-fsale-ello:before {
  content: "\eab6";
}
.icon-fsale-blogger:before {
  content: "\eab7";
}
.icon-fsale-blogger2:before {
  content: "\eab8";
}
.icon-fsale-tumblr:before {
  content: "\eab9";
}
.icon-fsale-tumblr2:before {
  content: "\eaba";
}
.icon-fsale-yahoo:before {
  content: "\eabb";
}
.icon-fsale-yahoo2:before {
  content: "\eabc";
}
.icon-fsale-tux:before {
  content: "\eabd";
}
.icon-fsale-appleinc:before {
  content: "\eabe";
}
.icon-fsale-finder:before {
  content: "\eabf";
}
.icon-fsale-android:before {
  content: "\eac0";
}
.icon-fsale-windows:before {
  content: "\eac1";
}
.icon-fsale-windows8:before {
  content: "\eac2";
}
.icon-fsale-soundcloud:before {
  content: "\eac3";
}
.icon-fsale-soundcloud2:before {
  content: "\eac4";
}
.icon-fsale-skype:before {
  content: "\eac5";
}
.icon-fsale-reddit:before {
  content: "\eac6";
}
.icon-fsale-hackernews:before {
  content: "\eac7";
}
.icon-fsale-wikipedia:before {
  content: "\eac8";
}
.icon-fsale-linkedin:before {
  content: "\eac9";
}
.icon-fsale-linkedin2:before {
  content: "\eaca";
}
.icon-fsale-lastfm:before {
  content: "\eacb";
}
.icon-fsale-lastfm2:before {
  content: "\eacc";
}
.icon-fsale-delicious:before {
  content: "\eacd";
}
.icon-fsale-stumbleupon:before {
  content: "\eace";
}
.icon-fsale-stumbleupon2:before {
  content: "\eacf";
}
.icon-fsale-stackoverflow:before {
  content: "\ead0";
}
.icon-fsale-pinterest:before {
  content: "\ead1";
}
.icon-fsale-pinterest2:before {
  content: "\ead2";
}
.icon-fsale-xing:before {
  content: "\ead3";
}
.icon-fsale-xing2:before {
  content: "\ead4";
}
.icon-fsale-flattr:before {
  content: "\ead5";
}
.icon-fsale-foursquare:before {
  content: "\ead6";
}
.icon-fsale-yelp:before {
  content: "\ead7";
}
.icon-fsale-paypal:before {
  content: "\ead8";
}
.icon-fsale-chrome:before {
  content: "\ead9";
}
.icon-fsale-firefox:before {
  content: "\eada";
}
.icon-fsale-IE:before {
  content: "\eadb";
}
.icon-fsale-edge:before {
  content: "\eadc";
}
.icon-fsale-safari:before {
  content: "\eadd";
}
.icon-fsale-opera:before {
  content: "\eade";
}
.icon-fsale-file-pdf:before {
  content: "\eadf";
}
.icon-fsale-file-openoffice:before {
  content: "\eae0";
}
.icon-fsale-file-word:before {
  content: "\eae1";
}
.icon-fsale-file-excel:before {
  content: "\eae2";
}
.icon-fsale-libreoffice:before {
  content: "\eae3";
}
.icon-fsale-html-five:before {
  content: "\eae4";
}
.icon-fsale-html-five2:before {
  content: "\eae5";
}
.icon-fsale-css3:before {
  content: "\eae6";
}
.icon-fsale-git:before {
  content: "\eae7";
}
.icon-fsale-codepen:before {
  content: "\eae8";
}
.icon-fsale-svg:before {
  content: "\eae9";
}
.icon-fsale-IcoMoon:before {
  content: "\eaea";
}
.icon-fsale-sneakers:before {
  content: "\eaeb";
}
/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Layout */
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &.column {
      flex-direction: column;
  }
}