@import 'icon';

.mt-10 {
    margin-top: 10px;
}

.d-flex-center {
    display: flex;
    align-items: center;

    &.column {
        flex-direction: column;
    }

    &.h-max-content {
        height: max-content;
    }

    &.j-center {
        justify-content: center;
    }

    &.j-sb {
        justify-content: space-between;
    }
}

.mw-300 {
    min-width: 300px;
}

.d-flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.a-center {
        align-items: center;
    }

    &.a-end {
        align-items: flex-end;
    }

    &.j-space-between {
        justify-content: space-between;
    }

    &.j-end {
        justify-content: flex-end;
    }

    &.j-center {
        justify-content: center;
    }

    &.gap-5{gap: 5px;}
}

.br--1-grey {
    border-right: 1px solid #bfbfbf;
}

.input-note {
    .ant-input {
        color: #595959;
    }
}

.invoice {
    .invoice__right-content {
        .right-content__header-info {

        }
    }
    
    .invoice__left-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }
}

.Sale-orders__wrap {
    .ant-table-thead {
        tr {
            th {
                background-color: #000033;
                color: #fff;

                &:hover {
                    background-color: #000033;
                }
            }
        }
    }
}