.Layout__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 50px;
    background-color: #36cfc9;
    color: #fff;
}

.Layout__content {
    padding: 10px 20px;
    background: #fff;
}

.wrap__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #c0dfdf;

    .options__button {
        background-color: #007f7f;
        color: #fff;
        font-weight: 600;
        border-radius: 3px;
    }
}

.group-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    margin: 10px 0px;
    border: 1px solid grey;
}

.row-even {
    background-color: #e5ffff;

    &:hover {
        background: #e5ffff;
    }
}